GXService/SSZClient/Service References/CardRecognizeServiceReference/GXService.CardRecognize.Contract1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="GXService.CardRecognize.Contract" elementFormDefault="qualified" targetNamespace="GXService.CardRecognize.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="Color" type="q1:CardColor" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="Num" type="q2:CardNum" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Rect" type="q3:Rectangle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
</xs:schema>