GXService/SSZClient/Service References/CardRecognizeServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Match">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="captureBmpData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="tmplBmpData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="similarityThreshold" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="MatchResult" type="q1:Rectangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recognize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="data" nillable="true" type="q2:RecoginizeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="RecognizeResult" nillable="true" type="q3:RecognizeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>