GXService/GXService/GXService.CardRecognize.Client/Service References/CardRecognizeServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CardRecognizeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICardsRecognizer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
      <xsd:import namespace="GXService.CardRecognize.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICardsRecognizer_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_Match_InputMessage">
    <wsdl:part name="parameters" element="tns:Match" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_Match_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatchResponse" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_Recognize_InputMessage">
    <wsdl:part name="parameters" element="tns:Recognize" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_Recognize_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecognizeResponse" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_ParseCardType_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseCardType" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_ParseCardType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseCardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_ParseCardTypeVsEnemy_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseCardTypeVsEnemy" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_ParseCardTypeVsEnemy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseCardTypeVsEnemyResponse" />
  </wsdl:message>
  <wsdl:message name="ICardsRecognizer_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICardsRecognizer">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/Start" message="tns:ICardsRecognizer_Start_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Match">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/Match" message="tns:ICardsRecognizer_Match_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardsRecognizer/MatchResponse" message="tns:ICardsRecognizer_Match_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Recognize">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/Recognize" message="tns:ICardsRecognizer_Recognize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardsRecognizer/RecognizeResponse" message="tns:ICardsRecognizer_Recognize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ParseCardType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/ParseCardType" message="tns:ICardsRecognizer_ParseCardType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardsRecognizer/ParseCardTypeResponse" message="tns:ICardsRecognizer_ParseCardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ParseCardTypeVsEnemy">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/ParseCardTypeVsEnemy" message="tns:ICardsRecognizer_ParseCardTypeVsEnemy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardsRecognizer/ParseCardTypeVsEnemyResponse" message="tns:ICardsRecognizer_ParseCardTypeVsEnemy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardsRecognizer/Stop" message="tns:ICardsRecognizer_Stop_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICardsRecognizer" type="tns:ICardsRecognizer">
    <wsp:PolicyReference URI="#NetTcpBinding_ICardsRecognizer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Match">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/Match" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/Recognize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseCardType">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/ParseCardType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseCardTypeVsEnemy">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/ParseCardTypeVsEnemy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/ICardsRecognizer/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardRecognizeService">
    <wsdl:port name="NetTcpBinding_ICardsRecognizer" binding="tns:NetTcpBinding_ICardsRecognizer">
      <soap12:address location="net.tcp://localhost:1222/GXService/CardRecognize/CardRecognizeService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1222/GXService/CardRecognize/CardRecognizeService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/SHOW-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>