GXService/SSZClient/Service References/GameControlServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="GXService.GameServer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="GXService.GameServer" minOccurs="0" name="clientInfo" nillable="true" type="q1:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnterRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="GXService.GameServer" minOccurs="0" name="GetRoomInfosResult" nillable="true" type="q2:ArrayOfRoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecognize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecognizeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Recognized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="GXService.GameServer" minOccurs="0" name="clientInfo" nillable="true" type="q3:ClientInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="recognizeResult" nillable="true" type="q4:RecognizeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartRecognize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRecognized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="GXService.GameServer" minOccurs="0" name="clientInfo" nillable="true" type="q5:ClientInfo" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="recognizeResult" nillable="true" type="q6:RecognizeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>