GXService/SSZClient/Service References/GameControlServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameControlService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="GXService.GameServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
      <xsd:import namespace="GXService.CardRecognize.Contract" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameControlService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_EnterRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterRoom" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_EnterRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_GetRoomInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomInfos" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_GetRoomInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_StartRecognize_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRecognize" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_StartRecognize_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRecognizeResponse" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_Recognized_InputMessage">
    <wsdl:part name="parameters" element="tns:Recognized" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_Recognized_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecognizedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_OnStartRecognize_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStartRecognize" />
  </wsdl:message>
  <wsdl:message name="IGameControlService_OnRecognized_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRecognized" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IGameControlService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/Connect" message="tns:IGameControlService_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/CreateRoom" message="tns:IGameControlService_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/CreateRoomResponse" message="tns:IGameControlService_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnterRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/EnterRoom" message="tns:IGameControlService_EnterRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/EnterRoomResponse" message="tns:IGameControlService_EnterRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRoomInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/GetRoomInfos" message="tns:IGameControlService_GetRoomInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/GetRoomInfosResponse" message="tns:IGameControlService_GetRoomInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartRecognize">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/StartRecognize" message="tns:IGameControlService_StartRecognize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/StartRecognizeResponse" message="tns:IGameControlService_StartRecognize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Recognized">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/Recognized" message="tns:IGameControlService_Recognized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/RecognizedResponse" message="tns:IGameControlService_Recognized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameControlService/Disconnect" message="tns:IGameControlService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnStartRecognize">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/OnStartRecognize" message="tns:IGameControlService_OnStartRecognize_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnRecognized">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameControlService/OnRecognized" message="tns:IGameControlService_OnRecognized_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameControlService" type="tns:IGameControlService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameControlService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/EnterRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomInfos">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/GetRoomInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRecognize">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/StartRecognize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recognized">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/Recognized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnStartRecognize">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/OnStartRecognize" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRecognized">
      <soap12:operation soapAction="http://tempuri.org/IGameControlService/OnRecognized" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>